.body {
  font-family:Verdana, Geneva, Arial;
  _background-color: #dce3e6;
  display: grid;
  grid-gap: 1em;
  grid-template-areas:
    "Top"
    "Nav"
    "App";
}
@media (min-width: 915px) {
  .body {
    grid-template-columns: 230px auto;
    grid-template-areas:
      "Top Top"
      "Nav App";
  }
}

.Top {
  grid-area: Top;
  text-align: center;
  _background-color: #dae4f0;
  box-shadow: 0 0.3em 0.5em rgb(41, 41, 41);
}

.Nav {
  grid-area: Nav;
  _background-color: #dae4f0;
  box-shadow: 0.3em 0.3em 0.5em rgb(41, 41, 41);
}
@media (min-width: 915px) {
  .Nav {
    height: 570px;
  }
}
.Search {
  margin-top: 20px;
  margin-left: 3px;
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: white;
  padding: 6px 00px 6px 3px;
}
.button {
  background-color: #4caf50; /* Green */
  border: none;
  border-radius: 4px;
  color: white;
  padding: 8px 10px;
  display: inline-block;
}
.button:hover {
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.24), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
}

#nbArticles {
  text-align: center;
  margin: 10px;
}
.slider {
  -webkit-appearance: none;
  width: 98%;
  height: 10px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.8;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #4caf50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #4caf50;
  cursor: pointer;
}
.App {
  grid-area: App;
  display: grid;
  gap: 10px;
  justify-content: center;
  grid-template-columns: auto;
}
@media (min-width: 670px) {
  .App {
    grid-template-columns: repeat(2, auto);
  }
}
@media (min-width: 1250px) {
  .App {
    grid-template-columns: repeat(3, auto);
  }
}
@media (min-width: 1580px) {
  .App {
    grid-template-columns: repeat(4, auto);
  }
}
@media (min-width: 1840px) {
  .App {
    grid-template-columns: repeat(5, auto);
  }
}
@media (min-width: 2160px) {
  .App {
    grid-template-columns: repeat(6, auto);
  }
}
/* IN APP  */

.hidden {
  display: none;
}
.articleContainerExtended {
  _background-color: white;
  border: 1px solid gray;
  grid-column: span 1;
  display: grid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media (min-width: 670px) {
  .articleContainerExtended {
    grid-column: span 2;
    width: 650px;
    gap: 5px;
    grid-template-columns: 320px auto;
  }
}

.articleContainerRetracted {
  grid-column: span 1;
  border: 1px solid gray;
  display: grid;
  width: 320px;
  grid-template-columns: 320px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.alwaysVisible {
  display: grid;
  grid-template-columns: repeat(6, 16.66666%);
}

.imageArticle {
  height: 320px;
  width: 320px;
  grid-column: 1/6;
}
.nomArticle {
  grid-column: 1/5;
}

.prixArticle {
  grid-column: 5/7;
  text-align: end;
}
.condArticles {
  grid-column: 1/2;
}
.prixKgArticle {
  grid-column: 3/7;
  text-align: end;
}

.descArticle {
  grid-column: 1/7;
  text-align: left;
}

.signsArticles {
  grid-column: 1/4;
}

.signArticles {
  height: 30px;
}

.nutriScoreArticle {
  grid-column: 6;
}

.imgNutriScoreArticle {
  height: 30px;
}

table,
td,
th {
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 15px;
}
